$background-color: #f2f2f2;

* {
  border-width: 1px;
  // border-style: solid;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: $background-color;
  width: 100vw;
}
#view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#errorArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#blog {
  width: 800px;
  padding: 60px 0 0 0;
  display: flex;
  #bio {
    flex-grow: 0;
    justify-content: center;
    padding: 0 60px 0 0;
  }
  #posts {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #blogStuff {
    padding: 32px 32px 0 32px;
    #submitArea {
      padding-top: 32px;
      display: flex;
      justify-content: center;
    }
  }
}
#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  #welcomeCard {
      #traditionalAuth {
          margin-top: 20px;
          margin-bottom: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
      }
  }
}